#request,
#response,
#links,
textarea,
input,
select {
	border: 1px solid black;
	padding: 5px;
	border: 1px solid black;
	padding: 5px;
}

#request,
#response,
#links {
	width: 600px;
	max-height: 400px;
	overflow: auto;
}

input[name=url] {
	width: 400px;
}

textarea[name=requestBody] {
	width: 600px;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #CCC;
	padding: 0 3px;
}

td:first-child {
	border-left: 0px solid #CCC;
}

td:last-child {
	border-right: 0px solid #CCC;
}

thead td {
	background: #DDD;
}

tr:nth-child(even) td {
	background: #EEE;
}
